<ion-content>
    <ion-item>
        <h3 style="color: seagreen; margin-top: 10%">
            Welcome in application<br>
            <span style="font-weight: 700; font-size: 30px; color: #8300af;">My Cinema</span>
        </h3>
    </ion-item>
    <div class="form">
        <ion-buttons>
            <ion-button  routerLink="/logreg/log">Login</ion-button>
            <ion-button  routerLink="/logreg/reg">Registration</ion-button>
        </ion-buttons>
        <router-outlet></router-outlet>
    </div>

</ion-content>
