ion-content{
    --background: none;
  background-image: url('https://pre00.deviantart.net/5fcc/th/pre/i/2017/139/a/c/marvel_cinematic_universe_character_poster_by_gianlucasorrentino-db9r5y9.jpg');
  //background-image: url('https://images.pyramidshop.com/images/_popup/PP34481.jpeg');
  background-position: center;
  ion-item{
    --background: rgba(37, 40, 37, 1);
  }
}

ion-button{
  color: seagreen;
}

.form{
  //background: rgba(4,3,1,0.15);
  width: 95%;
  margin: 30% auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  padding: 5%;
  background: rgba(37, 40, 37, 1);
}

