ion-content{
  --ion-background-color: rgba(4,3,1,0.15);
}

ion-button{
  color: seagreen;
}

.form{
  //background: rgba(4,3,1,0.15);
  width: 95%;
  margin: 30% auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.5);
  padding: 5%;
  background: white;
}
