<ion-list>
  <ion-item>
    <ion-label>Horror</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Comedy</ion-label>
  </ion-item>
  <ion-item>
    <ion-label>Fantasy</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Historical</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Adventure</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Biography</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cartoons</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Serials</ion-label>
    </ion-item>
</ion-list>

