<div class="bottom">
  <div class="about">
    <ion-img class="filmImg" [src]="currentMovie.picture"></ion-img>
    <div class="filmInf">
      <h2 class="filmName">{{currentMovie.name}}</h2>
      <small>Rate the movie</small>
      <ion-buttons>
        <ion-button *ngFor="let n of [1,2,3,4,5]" (click)="rate(n)">
          <ion-icon name="star-outline" color="warning"></ion-icon>
        </ion-button>
      </ion-buttons>
      <h3 class="score">{{currentMovie.score | number: "1.1-2"}}/5</h3>
    </div>
  </div>

  <ion-list lines="none">
    <ion-item>Year: <span style="color: red;">{{currentMovie.year}}</span></ion-item>
    <ion-item>Quality: <span style="color: red;">{{currentMovie.quality}}</span></ion-item>
    <ion-item>Genre: <span style="color: red;">{{currentMovie.genre}}</span></ion-item>
    <ion-item>Counrty: <span style="color: red;">{{currentMovie.country}}</span></ion-item>
    <ion-item>{{currentMovie.aboutFilm}}</ion-item>
  </ion-list>
</div>
