.about{
  display: flex;
  justify-content: center;
}
.filmImg{
  width: 35%;
  height: 65%;
  display: inline-block;
  margin-top: 20px;
  //margin-left: 10px;
}
.filmInf{
  display: inline-block;
  text-align: center;
}
.score{

}
