<div class="main" ><h3>MY FILMS</h3>
    <ion-grid>
        <ion-row>
            <ion-col class="film" size="3">wef
            </ion-col>
            <ion-col class="film" size="3">wef
            </ion-col>
            <ion-col class="film" size="3">wef
            </ion-col>
            <ion-col class="film" size="3">wef
            </ion-col>
            <ion-col class="film" size="3">wef
            </ion-col>
            <ion-col class="film" size="3">wef
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
