.main {
  width: 100%;
  margin: 10% auto;
  text-align: center;
  color: black;

}

.film{
  height: 100%;
}

.film>a{
  color: darkcyan;
  text-decoration: none;
}

.film__image {
  width: 100%;
  height: 200px;
  box-shadow: 12px 0 15px -4px rgba(0,0,0,0.8), -12px 0 8px -4px rgba(0,0,0,0.8);
}

ion-button{
  margin: 0 auto;
}
