<form style="margin-top: 5%" [formGroup]="authForm" (ngSubmit)="reg(authForm)">
<ion-item> <ion-input formControlName="username" required placeholder="NICKNAME"></ion-input></ion-item>
<ion-item> <ion-input formControlName="email" required placeholder="EMAIL"></ion-input></ion-item>
<ion-item> <ion-input formControlName="password" required placeholder="PASSWORD" type="password"></ion-input></ion-item>
<ion-button type="submit" [disabled]="!authForm.valid" expand="full" >Registration</ion-button>
    <ion-item lines="none"><p style="color: coral">{{mes}}</p></ion-item>
</form>
