.main {
  width: 95%;
  margin: 10% auto;
  text-align: center;
  color: black;
}

.user-img{
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
  height: 100px;
  width: 100px;
}

.mycol-lg {
  border-radius: 50%;
  text-align: center;
  height: 200px;
}
