.main {
  width: 95%;
  margin: 10% auto;
  text-align: center;
  color: black;
}

.user-img{
  border-radius: 50%;
  border: 2px solid black;
  outline: none;
}

.mycol-lg {
  border-radius: 50%;
  text-align: center;
}
