<div>
  <div class="divImg2">
    <img class="border-right border-bottom border-left" src="{{currentMovie.screenShots[1]}}" alt="" width="50%" height="100%">
    <img class="border-left border-bottom border-right" src="{{currentMovie.screenShots[0]}}" alt="" width="50%" height="100%">
  </div>
  <div class="divImg2">
    <img class="border-right border-top border-left" src="{{currentMovie.screenShots[2]}}" alt="" width="50%" height="100%">
    <img class="border-left border-top border-right " src="{{currentMovie.screenShots[3]}}" alt="" width="50%" height="100%">
  </div>
</div>
