<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>People</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col class="mycol-lg" *ngFor="let user of partUser" [routerLink]="'/userpage/' + user.id" size="3">
        <img class="user-img" [src]="user.avatar">
        <span class="username">{{user.username}}</span>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
