.user-img{
  border-radius: 50%;
  height: 75px;
  width: 75px;
  border: 2px solid black;
  outline: none;
}

.mycol-lg {
  border-radius: 50%;
  text-align: center;
}
ion-header{
  ion-toolbar{
    --background: #2f3132 !important;
    ion-title{
      font-family: Algerian;
      font-size: 18px;
      color: #efefef;
    }
  }
}
ion-content{
  --background:  rgba(37, 40, 37, 1);
  color: white;
}
.username{
  font-family: Algerian;
  font-size: 18px;
  color: #efefef;
}
