<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="swap()">  <ion-icon name="swap"></ion-icon> </ion-button>
    </ion-buttons>
    <ion-title>Top</ion-title>
  </ion-toolbar>
</ion-header>
<!--aa-->
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of top" [routerLink]="'/movie/' + item.id">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.picture"></ion-img>
      </ion-thumbnail>
      {{item.name}} <ion-item slot="end"><ion-icon name="star" size="default" color="warning"></ion-icon>
      <h5 style="display: inline">{{item.score  | number:'1.1-2'}}</h5></ion-item>
    </ion-item>
  </ion-list>
</ion-content>
