ion-content{
  --background: none;
  background-image: url("https://cameralabs.org/media/lab17/05/02/minimalizm-fotograf-Dzhulian-Shultse_25.jpg");
  background-repeat: no-repeat;
}

ion-item{
  --ion-background: none;
  background-image: url('https://images.pyramidshop.com/images/_popup/PP34481.jpeg');
}

ion-header{
  ion-toolbar{
    --background: #2f3132 !important;
    ion-title{

      font-family: Algerian;
      font-size: 18px;
      color: #efefef;
    }
  }
}

.userImg {
  margin: 0 auto 5% !important;
  text-align: center !important;
}


.aboutUser {
  background: rgba(5,18,8,0.4);
  width: 95%;
  margin: 10% auto 0;
  box-shadow:0 0 10px rgba(0,0,0,0.9);
}

.avatar {
  position: absolute;
  top: 46%;
  width: 8%;
  left: 46%;
  border: 1px solid black;
  z-index: 999;
}

.avatar_input {
  font-size: 30px;
  color: black;
}


.ava {
  width: 250px;
  height: 300px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.9);
  border: 1px solid black;
}

.aboutH{
  margin-left: 2%;
  font-family: fantasy;
  color: #efefef;
}

.aboutH>a{
  color: #11aabf;
  text-decoration: underline;
  font-size: 20px;
  font-weight: 500;
}

.avatar {
  display: none;
}

.avatar_input {
  cursor: pointer;
  margin: 0;
}

.subs{
  display: flex;
  justify-content: center;
}


