<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button style="color: white;"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
                <ion-select interface="popover" (ionChange)="genre($event)" id="select">
                    <ion-select-option id="all" value="all" selected ><h3 class="white">ALL</h3></ion-select-option>
                    <ion-select-option value="Adventure">Adventure</ion-select-option>
                    <ion-select-option value="Biography">Biography</ion-select-option>
                    <ion-select-option value="Cartoons">Cartoons</ion-select-option>
                    <ion-select-option value="Comedy">Comedy</ion-select-option>
                    <ion-select-option value="Fantasy">Fantasy</ion-select-option>
                    <ion-select-option value="Historical">Historical</ion-select-option>
                    <ion-select-option value="Horror">Horror</ion-select-option>
                    <ion-select-option value="Serials">Serials</ion-select-option>
                </ion-select>

        </ion-buttons>

        <ion-title>
            Main page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-searchbar showCancelButton="never" class="ionSearch" color="medium" (ionChange)="sendSearchForm($event)" animated>
    </ion-searchbar>
    <ion-refresher  slot="fixed" (ionRefresh) = "refresh($event)">
        <ion-refresher-content refreshing-spinner="null">
            <ion-spinner   color="secondary"></ion-spinner>
        </ion-refresher-content>
    </ion-refresher>
    <ion-card *ngFor="let f of filmsAfterSlice">
        <div  class="container" style="border-bottom: 1px solid #404040; ">
            <div style="padding: 0; margin: 20px 10px 0 10px; text-align: center">
                <a class="film__label" [routerLink]="'/movie/' + f.id"  routerDirection="forward" ><h3 style="margin-top: 15px">{{f.name}}</h3>
                </a>
                <a class="films__rec2" [routerLink]="'/movie/' + f.id"  routerDirection="forward" ><img class="f__img"  alt="" [src]="f.picture"></a>
            </div>
            <div class=" film__cont"><p class="about" [routerLink]="'/movie/' + f.id"  routerDirection="forward">
              <span style="display: block; float: right; margin-right: 10px">
              <ion-icon name="star" color="warning" size="large"></ion-icon>
              <span style="color: goldenrod; font-size: 20px">{{f.score | number:'1.1-2'}}</span>
            </span>
                <span class="font-900">Year: </span><span
                    class="desc">{{f.year}}</span><br>
                <span class="font-900">Country: </span><span
                    class="desc">{{f.country}}</span> <br>
                <span class="font-900">Quality: </span><span
                    class="desc">{{f.quality}}</span> <br>
                <span class="font-900" >About: </span>
                <span style="color: rgba(107,107,107,0.87)">{{f.aboutFilm}}</span><br>
            </p></div>
            <div style="text-align: center; margin: 20px 0 10px;">
                <ion-button [routerLink]="'/movie/' + f.id"  routerDirection="forward" style="width: 100px; color: white"
                            color="primary">Watch
                </ion-button>
                <ion-button (click)="present(f.id)" style="width: 100px; color: white" color="primary">
                    Trailer
                </ion-button>
                <ion-button (click)="addUserFilm(f.id)" style="width: 100px; color: white" color="success">ADD
                </ion-button>
            </div>
        </div>
    </ion-card>
    <ion-buttons>
    <ion-button class="moreFilms" *ngIf="moreButton" (click)="showMore()" expand="full">Show more <ion-icon name="arrow-round-down"></ion-icon></ion-button>
    </ion-buttons>
</ion-content>
