.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.film__label {
  color: whitesmoke;
  text-decoration: none;
  font-family: cursive;
}


.f__img {
  width: 100%;
  border: 1px solid black;
  box-shadow: 12px 0 15px -4px rgba(0,0,0,0.8), -12px 0 8px -4px rgba(0,0,0,0.8);
}

.about {
  overflow-y: hidden;
  text-overflow: ellipsis;
  height: 235px;
  position: relative;
}

.about::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 17px;
  background: linear-gradient(-198deg, rgba(37, 40, 37, 0.1) 0%, rgba(37, 40, 36, 1) 100%);
}

.search {
  margin: 15px 5px 4px 5px;
}

.search input {

  border: none;
}

.header {
  width: 100%;
  margin-top: 0;

}

.search .input {
  width: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  padding: 8px 37px 9px 15px;

  box-sizing: border-box;
  border-radius: 20px;
  background: #EEE;
  font: 13px Tahoma, Arial, sans-serif;
  color: #555;
  outline: none;
}

.font-900{
  font-weight: 900;
  font-size: 18px;
}
.desc{
  color: #e80500;
  font-size: 18px;
  font-family: cursive;
}
ion-content{
  --background: #111111;
}
ion-card{
  --background: rgba(37, 40, 37, 1);;
  --color: white;
}
.ionSearch{
  background:  #575757;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

