<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!userfilmItar else added" (click)="add()"><ion-icon name="add-circle" color="success"></ion-icon></ion-button>
      <ng-template #added>
        <ion-button><ion-icon name="checkmark-circle" color="success"></ion-icon></ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment color="secondary">
    <ion-segment-button checked  (ionSelect)="change(true)">
      <ion-label>Movie</ion-label>
    </ion-segment-button>
    <ion-segment-button (ionSelect)="change(false)" >
      <ion-label>Trailer</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="SelectMovie else trailer">
    <video [src]="currentMovie.movie" controls type="video/mp4" width="100%" height="100%" style="margin: 0">
    </video>
  </div>
  <ng-template #trailer>
    <div>
      <video [src]="currentMovie.trailer" controls type="video/mp4" width="100%" height="100%" style="margin: 0">
      </video>
    </div>
  </ng-template>

  <ion-segment color="secondary" scrollable="true">
    <ion-segment-button  [routerLink]="'/movie/' + currentID + '/about-movie'">
      <ion-label>About Movie</ion-label>
      <ion-icon name="information-circle-outline"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [routerLink]="'/movie/' + currentID + '/soundTracks'">
      <ion-label>SoundTracks</ion-label>
      <ion-icon name="musical-notes"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [routerLink]="'/movie/' + currentID + '/screens'">
      <ion-label>ScreenShots</ion-label>
      <ion-icon name="images"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [routerLink]="'/movie/' + currentID + '/starring'">
      <ion-label>Starring</ion-label>
      <ion-icon name="people"></ion-icon>
    </ion-segment-button>
    <ion-segment-button [routerLink]="'/movie/' + currentID + '/comments'">
      <ion-label>Comments</ion-label>
      <ion-icon name="text"></ion-icon>
    </ion-segment-button>
  </ion-segment>
  <router-outlet></router-outlet>
  <div class="main-list">
    <div class="list-item" *ngFor="let item of top" [routerLink]="'/movie/' + item.id">
      <img class="list-img" [src]="item.picture" width="40%" height="100%">
      <div class="block">{{item.name}}
      <div><ion-icon name="star" color="warning" size="large"></ion-icon>
        <span style="color: gold">{{item.score | number:"1.1-2"}}</span></div>
      </div>
    </div>
  </div>

</ion-content>

