<h5 [routerLink]="" class="off"><span class="green">{{comments.length}}</span> comments</h5>
<form  #form ='ngForm'>
  <textarea class="textArea" placeholder="Write your comment" ngModel name="text"></textarea>
  <input  class="btn btn-secondary cl-grey" type="submit" (click)="add(form)">
</form>
<div class="allcomment bottom">

  <div class="main-comment" *ngFor="let comment of comments">
    <div style="display: inline-block" [routerLink]="'/userpage/' + comment.userID">
      <img class="avatar" src="{{comment.avatar}}"></div>
    <div class="comment-content">
      <span  [routerLink]="'/userpage/' + comment.userID" class="username">{{comment.username}}</span>
      <span class="dateOfComment" >{{comment.date}}</span>
      <div class="comment">{{comment.text}}</div>
    </div>

  </div>
</div>
